<!DOCTYPE html>
<html lang="en" ng-app='votingapp'>
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <div ng-controller='VotingCtrl'>
    <h1>Should we learn JavaScript?</h1>
    <input type='button' value='Yes' ng-click='voteYes()'>
    <input type='button' value='No' ng-click='voteNo()'>
    <h2>Number of Yes: {{numberOfYes}}</h2>
    <h2>Number of No: {{numberOfNo}}</h2>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src='app.js'></script>
</body>
</html>